@font-face {
  font-family: "iconfont"; /* Project id 5143270 */
  src: url('iconfont.woff2?t=1783517952204') format('woff2'),
       url('iconfont.woff?t=1783517952204') format('woff'),
       url('iconfont.ttf?t=1783517952204') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youxiang:before {
  content: "\e739";
}

.icon-dianhua:before {
  content: "\e73a";
}

.icon-anquan:before {
  content: "\ea5a";
}

.icon-biaopan:before {
  content: "\ea5b";
}

.icon-dengdai:before {
  content: "\ea5c";
}

.icon-dianzan:before {
  content: "\ea5d";
}

.icon-jilu:before {
  content: "\ea5e";
}

.icon-richeng:before {
  content: "\ea5f";
}

.icon-shuju:before {
  content: "\ea60";
}

.icon-shangchuan:before {
  content: "\ea61";
}

.icon-wenjian:before {
  content: "\ea62";
}

.icon-shujuzoushi:before {
  content: "\ea63";
}

.icon-wenjianjia:before {
  content: "\ea64";
}

.icon-zhuanhuan:before {
  content: "\ea65";
}

.icon-zhanghu:before {
  content: "\ea66";
}

.icon-mubiao:before {
  content: "\ea67";
}

